<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871974768046-ggdp8r9igfceg0srop7s47l678r2d3p0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871974768046-ggdp8r9igfceg0srop7s47l678r2d3p0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>871974768046-kbbuff04705b3ir4ctfd02k3vnltdkgo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhvo3abZAeW9ecqnWSVwFfr4ICGStU-c4</string>
	<key>GCM_SENDER_ID</key>
	<string>871974768046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.bazinjan</string>
	<key>PROJECT_ID</key>
	<string>bazinjanapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bazinjanapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871974768046:ios:194082fd77b4f6e9be4c3f</string>
</dict>
</plist>